<table class="styled-table">
  <thead>
    <th *ngFor="let header of headers">{{header}}</th>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of data$ | async; index as i">
      <tr>
        <td (click)="toggleDetails(item, i)">
          {{item.id}}
        </td>
        <td>
          {{item.title}}
        </td>
      </tr>
      <tr [style.display]="expandedRowIndex === i ? '': 'none'">
        <td colspan="2">
          <ng-container *ngIf="expandedRowIndex === i">Additional Details: {{ expandedRow | json}}</ng-container>
          <ng-template hostDir></ng-template>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
